fishd*
/functions/local/*
/tmp/*
!.gitkeep
/fish_history
/config-local.fish
completions/spin.fish
completions/gitignore.fish
conf.d/z.fish
functions/spin.fish
functions/peco_select_history.fish
functions/getopts.fish
functions/__z_clean.fish
functions/zadd.awk
functions/gitignore.fish
functions/zclean.awk
functions/__z_complete.fish
functions/__z_add.fish
functions/__zo.fish
functions/peco_kill.fish
functions/__z.fish
functions/z.awk
fish_variables
